.about {
    width: 100%;
    height: 685px;
    background: url('../images/choose.jpg') 100% 100% no-repeat;
    background-size: cover;


    &-block {
        display: flex;
        flex-direction: column;

        &__title {
            color: #fff;
            font-size: 36px;
            margin-bottom: 52px;
        }

        &__text {
            font-size: 16px;
            letter-spacing: 1.6px;
            color: $white;
            line-height: 1.63;
        }

        &__spacer {
            height: 25px;
        }

        &__button {
            color: #fff;
            margin-top: 43px;
            @include size(225px, 60px);
            background: $violet;
            font-size: 16px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
        }

        &__img {
            @include size(350px, 220px);
            margin-bottom: 5px;
            &:last-of-type {
                margin-left: calc(100% - 350px);
            }
        }

        &--text {
            margin-top: 199px;
        }

        &--img {
            margin-top: 120px;
            padding: 0;
        }
    } 
}