.header {
    @include size(100%, 820px);
    background: url('../images/header.jpg') 100% 100% no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;

    &-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 265px;
        position: relative;
    }

    &__title {
        font-size: 48px;
        font-family: $JosefinSans;
        font-weight: 600;
        margin-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 4.8px;
    }
    &__subtitle {
        font-family: $JosefinSans;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 6.82px;
        margin-bottom: 45px;
    }

    &__search {
        font-family: $JosefinSans;
        @include size(650px, 60px);
        margin-bottom: 120px;
        padding-left: 126px;

        &::-webkit-input-placeholder {font-family: $JosefinSans; font-size: 14px; letter-spacing: 2.8px; color: #999;}
        &:-ms-input-placeholder {font-family: $JosefinSans; font-size: 14px; letter-spacing: 2.8px; color: #999;}
        &::-ms-input-placeholder {font-family: $JosefinSans; font-size: 14px; letter-spacing: 2.8px; color: #999;}
        &::placeholder {font-family: $JosefinSans; font-size: 14px; letter-spacing: 2.8px; color: #999;}
    }
    
    &__submit {
        font-family: $Aleo;
        width: 150px;
        height: 60px;
        position: absolute;
        background: $violet;
        border: solid 2px #ffffff;
        top: 120px;
        right: 230px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        padding-right: 50px;

        &:active {font-size: 16px;}

        &:hover {filter: brightness(1.1);}

        &--logo {
            position: absolute;
            top: 139px;
            right: 248px;
        }
}

    &__scroll-down {
        font-family: $JosefinSans;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #fff;
        position: absolute;
        bottom: -6%;
        left: 50%;
        transform: translateX(-50%);
        animation: scroll 1.5s ease-in-out infinite;

        &--text {
            font-size: 14px;
            letter-spacing: 2.8px;
        }
    }
}

@keyframes scroll {
    0% {
        bottom: -6%;
    }
    50% {
        bottom: -8%;
    }
    100% {
        bottom: -6%;
    }
}