.navigation {
    position: absolute;
    top: 740px;
    width: 100%;
    height: 80px;
    background: $violet;

    &-block {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }

    &__title {
        font-family: $JosefinSans;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
    }
}

.menu {
    display: flex;


    &__link {
        font-family: $Aleo;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        margin-left: 42px;
    }
}