.option1 {
    @include size(100%, 700px);
    background: url('../images/spain-1.jpg') 100% 100% no-repeat;
    background-size: cover;
}

.option-block {
    @include size(540px, 371px);
    background: rgba(35,35,35,.9);
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 45px 32px 50px 30px;
    margin-top: 229px;

    &__subtitle {
        font-size: 20px;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
    }

    &__title {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 19px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.63;
        margin-bottom: 43px;
    }

    &__button {
        @include size(225px, 60px);
        background: $violet;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

}